main {
    background: #dcf2c7;
    font-family: inter, sans-serif;
    border-radius: 15px;
    padding: 40px;
}

body {
    max-width: 450px;
    margin: 40px auto;
    background-attachment: fixed;
    padding: 10px;
    background-color: #e1f4ed;
    background-blend-mode: multiply;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/0/0a/Boston_skyline_from_East_Boston_November_2016_panorama_5.jpg);
    background-size: auto 700px;
    background-position-x: center;
}

h1 {
    margin: 0;
    color: #26b55f;
}

img {
    border-radius: 10px;
}

.lang {
    text-align: center;
    margin: 0 5px 15px 0;
    display: inline-block;
    padding: 8px;
    width: 25px;
    border-radius: 10px;
    border: 2px solid #26b55f;
    color: black;
}

#head {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 30px;
}

#pfp {
    width: 40%;
    height: 25%;
    background: lightgreen;
}

#text {
    width: 50%;
}

#buttons div {
    text-align: center;
    margin: 15px 0 0;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #26b55f;
    color: black;
}

.back {
    text-align: center;
    margin: 0 0 15px;
    padding: 8px 20px;
    width: fit-content;
    border-radius: 10px;
    border: 2px solid #26b55f;
    color: black;
}

#buttons a,
.noline {
    text-decoration: none;
}

#links {
    margin: 20px 0;
}

#links a {
    text-decoration: none;
    margin: 0 10px 0 0;
}

@media only screen and (max-width: 898px) {
    #head {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 15px 0 30px;
    }
    #pfp {
        margin: 0 0 20px;
        width: 100%;
    }
    #text {
        width: 100%;
    }
}

#links img {
    width: 45px;
    background: blue;
}
